{% set page = "ewallet" %}
{% include "Profile/header.twig" %}

<div class="container mt-5">
    <div class="row">
        <div class="col-6 ">
            <div class="card">
                <div class="card-body">

                    <div>
                        <h5 class="text-muted">Binary level Income: </h5>
                        <input type="text" class="form-control disabled" value="PHP {{ BIN_BALANCE|number_format }}" style="display: inline-block; width: 335px; text-align: right" disabled>
                        <button class="btn btn-outline-primary m-2" style="display: inline-block;" data-toggle="modal" data-target="#transfer" id="bin_transfer">Transfer fund</button>
                    </div>
                    <hr class="sepator">

                    <div>
                        <h5 class="text-muted">Uni level Income: </h5>
                        <input type="text" class="form-control disabled" value="PHP {{ UNI_BALANCE|number_format }}" style="display: inline-block; width: 335px; text-align: right" disabled>
                        <button class="btn btn-outline-primary m-2" style="display: inline-block;" data-toggle="modal" data-target="#transfer" id="uni_transfer">Transfer fund</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 p-2">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h5 class="text-muted">E-Wallet Amount: </h5>
                        <input type="text" class="form-control disabled" value="PHP {{ E_BALANCE|number_format }}" style="display: inline-block; width: 427px; text-align: right" disabled>
                    </div>
                    <hr class="sepator">
                    {% if PENDING_WITHDRAWAL %}
                        <div>
                            <h5 class="text-warning">Pending Request: </h5>
                            You have a pending <b>PHP {{ PENDING_WITHDRAWAL }}.00 </b> withdrawal request.
                            <span>Please go to our office to complete your transaction. Thank you.</span>
                            <br><a href="?cw=sTfU">Click to cancel transaction</a>
                        </div>
                    {% else %}
                        <form action="/eWallet" method="POST">
                            <h5 class="text-muted">Enter Amount: </h5>
                            <input type="hidden" value="withdraw" name="type">
                            <input type="number" class="form-control disabled" style="display: inline-block; width: 307px; text-align: right" placeholder="1000 for example" name="amount" required>
                            <button type="submit" class="btn btn-outline-primary m-2" style="display: inline-block;">Withdraw</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Transfer-->
<div class="modal fade" id="transfer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="/eWallet" method="POST" class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white">Transfer Amount:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Input the amount you want to transfer to E-Wallet</span>
                <input type="hidden" value="bin" name="type" id="type">
                <input type="number" class="form-control" placeholder="1000 for example.." name="amount" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Transfer</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
    	$("#uni_transfer").on("click", function () {
            $("#type").val("uni");
	    })

    	$("#bin_transfer").on("click", function () {
		    $("#type").val("bin");
	    })
    });
</script>