
{% set page = "profile" %}
{% include "Profile/header.twig" %}

<div class="container mt-4">
	<div class="clearfix">
		<div class="float-left" style="display: inline-block;height: 150px; width: 150px; background: url('/img/person_icon.png') no-repeat; background-size: cover"></div>
		<div class="float-left ml-3 mt-0">
			<h3 >{{ FULL_NAME }}</h3>
			<div class="mt-1">
				<strong>Current Loan Package: </strong>
				{% if LOAN_EXISTS %}
				{% else %}
					{% if LOAN_REQUEST == false %}
						<span>Not yet registered</span>
					{% else %}
						<span>Pending {{ LOAN_REQUEST }}</span>
					{% endif %}
				{% endif %}
			</div>
			<div class="mt-1">
				<strong>Remaining Loan Balance: </strong><span> Not available</span>
			</div>
			<div class="mt-1">
				<strong>Maturity Date: </strong><span> Not available</span>
			</div>
			<div class="mt-1">
				<a href="/account/settings">Edit Profile Information</a>
			</div>
		</div>
	</div>

	{% if LOAN_REQUEST != false %}
	<div class="card mt-5">
		<div class="card-body text-center">
			<h3 align="center">Pending Loan</h3>
			<hr class="separator">
			<div>You have a successfully requested a loan and is currently pending. </div>
			<div>Please go to our office to continue this transaction.</div>
			<div>
				<b>Loan Package: </b><span>{{ LOAN_REQUEST }}</span>
			</div>
			<button class="btn btn-outline-warning font-weight-bold mt-2" data-toggle="modal" data-target="#cancelRequest">
				<span>&laquo; Cancel Current Loan Request</span>
			</button>
		</div>
	</div>

	{# Cancel Current Application Request Confirmation #}
	<div class="modal fade" id="cancelRequest" tabindex="-1" role="dialog"  aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-danger text-white">
					<h5 class="modal-title" >Cancel Binary Application</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Are you sure to cancel this current application?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-danger" id="cancel" data-dismiss="modal">Cancel Request</button>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<h2 align="center">Select Loan Package</h2>
	<hr class="separator">
	<div class="row">
		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-body">
					<h4 class="font-weight-bold text-primary">Bronze Package</h4>
					<div class="row">
						<div class="col-6 font-weight-bold">Loan amount</div>
						<div class="col-6 text-right"><b>PHP</b>  3,000.00 to <b>PHP</b> 9,000.00</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Interest and maturity</div>
						<div class="col-6 text-right">5% Interest for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Uni-level affiliation program</div>
						<div class="col-6 text-right">Included. Valid for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Requirement</div>
						<div class="col-6 text-right">1 Valid/Government issued ID</div>
					</div>
					<hr class="separator">
					<div style="font-style: italic">
						The company will entitled you a membership to the uni-level affiliation program valid  for 12 Months (renewable).
					</div>
					<div>
						<button class="btn btn-outline-primary bronze float-right">Apply Now &raquo;</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-body">
					<h4 class="font-weight-bold text-primary">Silver Package</h4>
					<div class="row">
						<div class="col-6 font-weight-bold">Loan amount</div>
						<div class="col-6 text-right"><b>PHP</b>  10,000.00 to <b>PHP</b> 19,000.00</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Interest and maturity</div>
						<div class="col-6 text-right">5% Interest for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Uni-level affiliation program</div>
						<div class="col-6 text-right">Included. Valid for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Requirement</div>
						<div class="col-6 text-right">1 Valid/Government issued ID</div>
					</div>
					<hr class="separator">
					<div style="font-style: italic">
						The company will entitled you a membership to the uni-level affiliation program valid  for 12 Months (renewable).
					</div>
					<div>
						<button class="btn btn-outline-primary silver float-right">Apply Now &raquo;</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-body">
					<h4 class="font-weight-bold text-primary">Gold Package</h4>
					<div class="row">
						<div class="col-6 font-weight-bold">Loan amount</div>
						<div class="col-6 text-right"><b>PHP</b>  20,000.00 to <b>PHP</b> 39,000.00</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Interest and maturity</div>
						<div class="col-6 text-right">5% Interest for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Uni-level affiliation program</div>
						<div class="col-6 text-right">Included. Valid for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Requirement</div>
						<div class="col-6 text-right">1 Valid/Government issued ID</div>
					</div>
					<hr class="separator">
					<div style="font-style: italic">
						The company will entitled you a membership to the uni-level affiliation program valid  for 12 Months (renewable).
					</div>
					<div>
						<button class="btn btn-outline-primary gold float-right">Apply Now &raquo;</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-body">
					<h4 class="font-weight-bold text-primary">Diamond Package</h4>

					<div class="row">
						<div class="col-6 font-weight-bold">Loan amount</div>
						<div class="col-6 text-right"><b>PHP</b>  40,000.00 to <b>PHP</b> 59,000.00</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Interest and maturity</div>
						<div class="col-6 text-right">5% Interest for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Uni-level affiliation program</div>
						<div class="col-6 text-right">Included. Valid for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Requirement</div>
						<div class="col-6 text-right">1 Valid/Government issued ID</div>
					</div>
					<hr class="separator">
					<div style="font-style: italic">
						The company will entitled you a membership to the uni-level affiliation program valid  for 12 Months (renewable).
					</div>
					<div>
						<button class="btn btn-outline-primary diamond float-right">Apply Now &raquo;</button>
					</div>
				</div>
			</div>
		</div><div class="col-6 mb-3">
			<div class="card">
				<div class="card-body">
					<h4 class="font-weight-bold text-primary">VIP Package</h4>
					<div class="row">
						<div class="col-6 font-weight-bold">Loan amount</div>
						<div class="col-6 text-right"><b>PHP</b>  60,000.00 and above</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Interest and maturity</div>
						<div class="col-6 text-right">5% Interest for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Uni-level affiliation program</div>
						<div class="col-6 text-right">Included. Valid for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Requirement</div>
						<div class="col-6 text-right">1 Valid/Government issued ID</div>
					</div>
					<hr class="separator">
					<div style="font-style: italic">
						The company will entitled you a membership to the uni-level affiliation program valid  for 12 Months (renewable).
					</div>
					<div>
						<button class="btn btn-outline-primary vip float-right">Apply Now &raquo;</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>


{% if LOAN_REQUEST != false %}
	<script type="text/javascript">
		$(document).ready(function () {
			$("#cancel").on("click", function () { location.href = "/profile?cr=_"; })
		});
	</script>
{% else %}
	<script type="text/javascript">
		$(document).ready(function () {
			{# Redirect to act like an ajax #}
			var sendRequest = function (type) { location.href = "/profile?rl="+type; };
			{# EventListener List #}
			$("button.bronze").on("click", function () { sendRequest("b"); });
			$("button.silver").on("click", function () { sendRequest("s"); });
			$("button.gold").on("click", function () { sendRequest("g"); });
			$("button.diamond").on("click", function () { sendRequest("d"); });
			$("button.vip").on("click", function () { sendRequest("v"); });
		});
	</script>
{% endif %}