
{% set page = "profile" %}
{% include "Profile/header.twig" %}

<div class="container mt-3 ">
	<div class="clearfix">
		<div class="float-left bg-danger" style="display: inline-block;height: 150px; width: 150px;">[PHOTO]</div>
		<div class="float-left ml-3 mt-0">
			<h3 >{{ FULL_NAME }}</h3>
			<div class="mt-1">
				<strong>Current Loan Package: </strong><span> Not yet registered</span>
			</div>
			<div class="mt-1">
				<strong>Remaining Loan Balance: </strong><span> Not available</span>
			</div>
			<div class="mt-1">
				<strong>Maturity Date: </strong><span> Not available</span>
			</div>
			<div class="mt-1">
				<a href="#">Edit Profile Information</a>
			</div>
		</div>

	</div>

	<h2 align="center">Select Loan Package</h2>

	<hr class="separator">
	<div class="row">
		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-body">
					<h4 class="font-weight-bold">Bronze Package</h4>
					asdsadasd
				</div>
			</div>
		</div>
		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-body">
					<h4 class="font-weight-bold">Silver Package</h4>
					asdsadasd
				</div>
			</div>
		</div>
		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-body">
					<h4 class="font-weight-bold">Gold Package</h4>
					asdsadasd
				</div>
			</div>
		</div>
		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-body">
					<h4 class="font-weight-bold">Diamond Package</h4>
					asdsadasd
				</div>
			</div>
		</div>
	</div>
</div>