
{% set page = "profile" %}
{% include "Profile/header.twig" %}

<div class="container mt-4">
	<div class="clearfix">
		<div class="float-left bg-danger" style="display: inline-block;height: 150px; width: 150px;">[PHOTO] BETA</div>
		<div class="float-left ml-3 mt-0">
			<h3 >{{ FULL_NAME }}</h3>
			<div class="mt-1">
				<strong>Current Loan Package: </strong><span> Not yet registered</span>
			</div>
			<div class="mt-1">
				<strong>Remaining Loan Balance: </strong><span> Not available</span>
			</div>
			<div class="mt-1">
				<strong>Maturity Date: </strong><span> Not available</span>
			</div>
			<div class="mt-1">
				<a href="#">Edit Profile Information</a>
			</div>
		</div>

	</div>

	<h2 align="center">Select Loan Package</h2>

	<hr class="separator">
	<div class="row">
		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-body">
					<h4 class="font-weight-bold text-primary">Bronze Package</h4>
					<div class="row">
						<div class="col-6 font-weight-bold">Loan amount</div>
						<div class="col-6 text-right"><b>PHP</b>  3,000.00 to <b>PHP</b> 9,000.00</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Interest and maturity</div>
						<div class="col-6 text-right">5% Interest for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Uni-level affiliation program</div>
						<div class="col-6 text-right">Included. Valid for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Requirement</div>
						<div class="col-6 text-right">1 Valid/Government issued ID</div>
					</div>
					<hr class="separator">
					<div style="font-style: italic">
						The company will entitled you a membership to the uni-level affiliation program valid  for 12 Months (renewable).
					</div>
					<div>
						<button class="btn btn-outline-primary float-right">Apply Now &raquo;</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-body">
					<h4 class="font-weight-bold text-primary">Silver Package</h4>
					<div class="row">
						<div class="col-6 font-weight-bold">Loan amount</div>
						<div class="col-6 text-right"><b>PHP</b>  10,000.00 to <b>PHP</b> 19,000.00</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Interest and maturity</div>
						<div class="col-6 text-right">5% Interest for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Uni-level affiliation program</div>
						<div class="col-6 text-right">Included. Valid for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Requirement</div>
						<div class="col-6 text-right">1 Valid/Government issued ID</div>
					</div>
					<hr class="separator">
					<div style="font-style: italic">
						The company will entitled you a membership to the uni-level affiliation program valid  for 12 Months (renewable).
					</div>
					<div>
						<button class="btn btn-outline-primary float-right">Apply Now &raquo;</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-body">
					<h4 class="font-weight-bold text-primary">Gold Package</h4>
					<div class="row">
						<div class="col-6 font-weight-bold">Loan amount</div>
						<div class="col-6 text-right"><b>PHP</b>  20,000.00 to <b>PHP</b> 39,000.00</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Interest and maturity</div>
						<div class="col-6 text-right">5% Interest for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Uni-level affiliation program</div>
						<div class="col-6 text-right">Included. Valid for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Requirement</div>
						<div class="col-6 text-right">1 Valid/Government issued ID</div>
					</div>
					<hr class="separator">
					<div style="font-style: italic">
						The company will entitled you a membership to the uni-level affiliation program valid  for 12 Months (renewable).
					</div>
					<div>
						<button class="btn btn-outline-primary float-right">Apply Now &raquo;</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-body">
					<h4 class="font-weight-bold text-primary">Diamond Package</h4>

					<div class="row">
						<div class="col-6 font-weight-bold">Loan amount</div>
						<div class="col-6 text-right"><b>PHP</b>  40,000.00 to <b>PHP</b> 59,000.00</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Interest and maturity</div>
						<div class="col-6 text-right">5% Interest for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Uni-level affiliation program</div>
						<div class="col-6 text-right">Included. Valid for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Requirement</div>
						<div class="col-6 text-right">1 Valid/Government issued ID</div>
					</div>
					<hr class="separator">
					<div style="font-style: italic">
						The company will entitled you a membership to the uni-level affiliation program valid  for 12 Months (renewable).
					</div>
					<div>
						<button class="btn btn-outline-primary float-right">Apply Now &raquo;</button>
					</div>
				</div>
			</div>
		</div><div class="col-6 mb-3">
			<div class="card">
				<div class="card-body">
					<h4 class="font-weight-bold text-primary">VIP Package</h4>
					<div class="row">
						<div class="col-6 font-weight-bold">Loan amount</div>
						<div class="col-6 text-right"><b>PHP</b>  60,000.00 and above</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Interest and maturity</div>
						<div class="col-6 text-right">5% Interest for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Uni-level affiliation program</div>
						<div class="col-6 text-right">Included. Valid for 12 Months</div>
					</div>
					<div class="row">
						<div class="col-6 font-weight-bold">Requirement</div>
						<div class="col-6 text-right">1 Valid/Government issued ID</div>
					</div>
					<hr class="separator">
					<div style="font-style: italic">
						The company will entitled you a membership to the uni-level affiliation program valid  for 12 Months (renewable).
					</div>
					<div>
						<button class="btn btn-outline-primary float-right">Apply Now &raquo;</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>