
{% set page = "binary" %}
{% include "Profile/header.twig" %}

<div class="container-fluid">
    <div class="row m-3">
        <div class="col-4">
            <div class="card card-body">
                <table>
                    <tr>
                        <td><b>Name:</b></td>
                        <td><span>Kim Gwapo</span></td>
                    </tr>
                    <tr>
                        <td><b>Level:</b></td>
                        <td><span> 5th</span></td>
                    </tr>
                    <tr>
                        <td><b>Direct Referrals: </b></td>
                        <td><span> 2,000</span></td>
                    </tr>
                    <tr>
                        <td><b>Indirect Referrals:</b></td>
                        <td><span> 2,000</span></td>
                    </tr>
                    <tr>
                        <td><b>Total Earnings:</b></td>
                        <td><b>PHP</b> <span> 10,000</span></td>
                    </tr>
                </table>
                <hr class="separator">
                <div>
                    <b class="float-left">Referral link</b>
                    <a class="float-right" href="javascript:void(0)">Copy Link</a>
                </div>
                <input type="text" class="form-control" disabled="" value="http://{{ DN }}/register?id={{ hash_id }}">
            </div>
        </div>
        <div class="col-8">
            <div class="chart" id="collapsable-example"></div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addPerson" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    var tree = new Treant( chart_config, null, $);
    
    $(document).ready(function () {
        $(".add-person").on("click", function (e) {
            alert("asd");
        });
        $("#malory").data("treenode").collapse();
        tree.tree.addNode($("#malory").data("treenode"), acctList.lana);
        tree.tree.addNode($("#lana").data("treenode"), acctList.figgs);
        $("#malory").data("treenode").expand();
    });
</script>
