<!-- Preloader -->
<div id="preloader" style="display: none;">
    <div id="wave" style="display: none;"></div>
</div>
<div id="mask"></div><!-- End Of Preloader -->

<!-- NavBar -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
    <div class="container">
        <!-- Brand Logo -->
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="/" style="height: 80px">
                <img src="/img/logo.png" alt="[LOGO]" height="100%">
            </a>
        </div>

        <!-- Contact Number -->
        <div class="social_link">
            <ul class="nav navbar-nav navbar-right call_to">
                <li>
                    <a class="#" href="/signup">SIGNUP</a>
                </li>
            </ul>
        </div>
    </div>
</nav><!-- End Of Nav Bar -->

<!-- Header -->
<header id="page_top" class="home_loan">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1 style="text-transform: uppercase">mon-LIGHT OFW CREDIT COOPERATIVE</h1>
                        <p>
                            WHY WORK FOR MONEY FOR THE REST OF YOUR LIFE?
                            LET YOUR MONEY WORK FOR YOU..
                            LEARN AND UNDERSTAND MON-LIGHT CREDTI COOP's BINARY PROGRAM AND START TO EARN NOW...
                        </p>
                        <a href="#features" class="btn btn-outline btn-xl page-scroll">Why Choose Us ?</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-container">
                    <div class="form-mockup">
                        <h2>Join now!</h2>
                        <h4>Easy to apply for a loan with us,Once you have complete this form.</h4>
                        <form action="/login" method="post">
                            <div class="form-group">
                                <label for="username" style="color:#15549a;">Username</label>
                                <input type="text" class="form-control" placeholder="Enter Username" name="usn">
                            </div>

                            <div class="form-group">
                                <label for="password" style="color:#15549a;">Password</label>
                                <input type="password" class="form-control" placeholder="Enter Password" name="pwd">
                            </div>

                            <input class="btn btn-primary btn-block" type="submit" style="margin-bottom: 8px;" value="Login">

                            <a href="/signup" style="color:#15549a;" >Don't have an account? Click here</a> <br />
                            <small><a href="#" style="color:#15549a;">Forgot Password?</a></small>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- End Of Header -->
<!-- Section Features -->

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Reason to Choose Us</h2>
                    <p class="text-muted">
                        The Monlight OFW Cooperative will develop a descent family which will have a single minded devotion to succeed.
                    </p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <img src="/img/demo-screen-1.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <h3>Easy Loan Approvals</h3>
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida erat sit amet
                                    nunc iaculis mattis. Vivamus aliquam, eros sed tempor lacinia, ante metus sodales libero in.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <h3>Hassle free</h3>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida erat sit amet nunc iaculis mattis. Vivamus aliquam, eros sed tempor lacinia, ante metus sodales libero in.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item last-one">
                                <h3>100% Safe and Secure</h3>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida erat sit amet nunc iaculis mattis. Vivamus aliquam, eros sed tempor lacinia, ante metus sodales libero in.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section Contact -->
<section id="contact">
    <h2 id="dev-snippet-title" class="text-center text-white">Contact Information</h2>
    <div class="container mr_top_10">
        <div class="row text-">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-white">
                        <h4 class="m-0"><b>Address:</b><span> Zone 3, Baranggay Tambang Tinambac, 4426 Camarines Sur</span></h4>
                        <h4 class="m-0"><b>Email Address:</b><span> monseratejimmyallan@gmail.com</span></h4>
                        <h4 class="m-0"><b>Contact Number:</b><span> 0999-7995-757/+852-5217-1401</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</section>
<!-- End Of Section Contact -->

<!-- Footer -->
<footer>
    <div class="container text-secondary">
        <p>© 2018 L.E. Miranda & K.J. Luta.</p>
        <ul class="list-inline">
            <li> <a href="#">Privacy</a> </li>
            <li> <a href="#">Terms</a> </li>
        </ul>
    </div>
</footer>
