<!-- HTML/TWIG body content here -->

{% set page = "profile" %}
{% include "Profile/header.twig"%}

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <table>
                <tr>
                    <td><strong>Old Password:</strong><td>
                    <td><input type="password" class="form-control mb-2" name="old_pass"></td>
                </tr>
                <tr>
                    <td><strong>New Password:</strong><td>
                    <td><input type="password" class="form-control mb-2" name="new_pass"></td>
                </tr>
                <tr>
                    <td><strong>Confirm Password:</strong><td>
                    <td><input type="password" class="form-control" name="cf_pass"></td>
                </tr>
            </table>
            <button class="btn btn-primary mt-md-3" style="margin-left: 222px;">Save Changes</button>
        </div>
    </div>
</div>