<!-- HTML/TWIG body content here -->

{% set page = "profile" %}
{% include "Profile/header.twig"%}

<div class="container mt-4">

    <h2 align="center" class="text-secondary mb-3">Change Account Password</h2>

    <div class="card">
        <form class="card-body">
            <div class="row">
                <div class="col-4 font-weight-bold">Enter Password</div>
                <div class="col-8">
                    <input type="password" class="form-control mb-2" name="pass">
                </div>
            </div>
            <div class="row">
                <div class="col-4 font-weight-bold">Enter New Password</div>
                <div class="col-8">
                    <input type="password" class="form-control mb-2" name="npass1">
                </div>
            </div>
            <div class="row">
                <div class="col-4 font-weight-bold">Confirm New Password</div>
                <div class="col-8">
                    <input type="password" class="form-control mb-2" name="npass2">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Confirm Changes</button>
        </form>
    </div>
</div>